@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Bold.woff2") format("woff2"), url("../fonts/karla/Karla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-BoldItalic.woff2") format("woff2"), url("../fonts/karla/Karla-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/karla/Karla-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-ExtraBold.woff2") format("woff2"), url("../fonts/karla/Karla-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Light.woff2") format("woff2"), url("../fonts/karla/Karla-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-ExtraLight.woff2") format("woff2"), url("../fonts/karla/Karla-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-ExtraLightItalic.woff2") format("woff2"), url("../fonts/karla/Karla-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Italic.woff2") format("woff2"), url("../fonts/karla/Karla-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-SemiBoldItalic.woff2") format("woff2"), url("../fonts/karla/Karla-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-SemiBold.woff2") format("woff2"), url("../fonts/karla/Karla-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-LightItalic.woff2") format("woff2"), url("../fonts/karla/Karla-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Medium.woff2") format("woff2"), url("../fonts/karla/Karla-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-MediumItalic.woff2") format("woff2"), url("../fonts/karla/Karla-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Regular.woff2") format("woff2"), url("../fonts/karla/Karla-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #070039;
  transition: 0.3s all !important;
}
a:hover {
  color: #7FC3A7;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}
html.open_menu {
  overflow: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Karla";
  background: #F2F2F2;
  font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

/*======================================== end config =================================*/
.sidebar {
  background: #F2F2F2;
  box-shadow: 3px 3px 6px #c4c4c4;
  padding: 24px;
  width: 276px;
  position: fixed;
  top: 26px;
  left: 26px;
  border-radius: 25px;
  overflow: hidden;
  height: calc(100% - 72px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.sidebar ul {
  list-style: none;
}
.sidebar .top .avarta {
  padding: 24px 0;
}
.sidebar .top .namer {
  font-weight: bold;
  font-size: 20px;
}
.sidebar .top .head-top {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar .top .head-top svg {
  margin-left: 16px;
}

.menu-sidebar {
  padding: 24px 0;
}
.menu-sidebar ul li {
  margin-bottom: 1px;
}
.menu-sidebar ul li:last-child {
  margin-bottom: 0;
}
.menu-sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  color: #8B8B8B;
  border-radius: 9px;
}
.menu-sidebar ul li a svg {
  margin-right: 16px;
  width: 20px;
}
.menu-sidebar ul li a.active, .menu-sidebar ul li a:hover {
  background: rgba(127, 195, 167, 0.17);
  font-weight: bold;
  color: #7FC3A7;
}
.menu-sidebar ul li a.active svg path, .menu-sidebar ul li a:hover svg path {
  fill: #7FC3A7;
}
.menu-sidebar ul li a:hover {
  font-weight: normal;
}
.menu-sidebar ul li a span {
  position: relative;
}
.menu-sidebar ul li a span label {
  margin: 0;
  background: #7FC3A7;
  position: absolute;
  top: 0;
  right: -20px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.menu-sidebar ul ul {
  padding-left: 38px;
}

.more-sidebar a {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  font-weight: bold;
  color: #000000;
}
.more-sidebar a svg {
  margin-right: 16px;
  width: 20px;
}

.content-wrapper {
  padding: 26px 0;
}
.content-wrapper .content-right {
  padding: 40px 96px 40px 412px;
  width: 100%;
  font-size: 14px;
}
.content-wrapper .head-dashboard {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 35px;
  line-height: 1;
}

.btn-main a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #7FC3A7;
  padding: 0 32px;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  min-width: 140px;
  height: 36px;
}
.btn-main a:hover {
  background: #000000;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  position: relative;
  min-height: 100vh;
}

.shadow, .item-onders, .item-serv, .box-qrcode, .item-menuk, .box-kenmerken, .list-gallery, .top-media .item-logo-media, .over-butcher, .content-open .txt-opening, .opening {
  border-radius: 15px;
  box-shadow: 0 3px 6px hwb(0deg 0% 100%/16%);
  background: #F8F8F8;
}

.loading-dash {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 24px 115px 24px 32px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.loading-dash h4 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.loading-dash .desc {
  padding: 10px 0 20px 0;
  color: #8F8F8F;
}
.loading-dash .loading-progress {
  padding-left: 32px;
  display: flex;
  align-items: center;
  line-height: initial;
  font-weight: bold;
  color: #000000;
}
.loading-dash .loading-progress .txt-loading {
  margin-right: 30px;
}
.loading-dash .loading-progress .txt-loading span {
  color: #8CFE83;
}

.box-platormen {
  margin-bottom: 40px;
}

.lsit-flat .row {
  margin: 0 -10px;
}
.lsit-flat .row > div {
  padding: 10px;
}

.item-flat {
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  background: #7FC3A7;
  padding: 22px;
}
.item-flat .top {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 35px;
}
.item-flat .top .icon {
  margin-right: 17px;
}
.item-flat .status-falt {
  color: #fff;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
.item-flat .status-falt span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #7FC3A7;
  border-radius: 100%;
  font-size: 10px;
  margin-left: 14px;
  font-weight: bold;
}

.info-met {
  background: #fff;
  padding: 24px 40px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  min-height: 154px;
}
.info-met .desc {
  padding-bottom: 20px;
}
.info-met .desc p {
  margin-bottom: 12px;
}
.info-met .desc p:last-child {
  margin-bottom: 0;
}
.info-met .desc p a {
  text-decoration: underline;
}
.info-met.item-mijn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-met.item-mijn .left {
  padding-right: 40px;
  flex: 0 0 calc(100% - 140px);
}
.info-met.item-mijn .right {
  padding-top: 30px;
}
.info-met.item-mijn table {
  width: 100%;
}
.info-met.item-mijn table thead {
  font-weight: bold;
}
.info-met.item-mijn table thead td {
  border-bottom: 1px solid #000000;
  padding: 0 10px 10px 0;
}
.info-met.item-mijn table tbody td {
  border-bottom: 1px solid #B2B2B2;
  padding: 10px 10px 7px 0;
}

.slide-under {
  margin: 0 -10px;
}
.slide-under .item-slide {
  padding: 0 10px;
}
.slide-under .slick-dots button {
  display: none !important;
}
.slide-under .slick-dots li {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  border: 1px solid #7FC3A7;
  background: transparent;
  margin: 0 2px;
}
.slide-under .slick-dots li.slick-active {
  background: #7FC3A7;
}

.item-mkt {
  font-size: 16px;
  position: relative;
}
.item-mkt input[type=checkbox] {
  display: none;
}
.item-mkt input[type=checkbox]:checked + label {
  background: #E9F5F0;
  font-weight: bold;
}
.item-mkt label {
  margin: 0;
  position: relative;
  display: flex;
  padding: 10px 16px;
  background: #F2F2F2;
  border-radius: 10px;
  cursor: pointer;
}
.item-mkt label img {
  margin-right: 16px;
}

.box-marketing {
  height: 100%;
}

.list-mkt {
  position: relative;
  top: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  min-height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 50px;
}
.list-mkt .row {
  margin: 0 10px;
}
.list-mkt .row > div {
  padding: 10px;
}
.list-mkt .btn-mkt {
  margin-top: 30px;
}
.list-mkt .btn-mkt .btn_field {
  background: #7FC3A7;
  width: 145px;
  height: 36px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.list-mkt .btn-mkt .btn_field:hover {
  background: #000000;
}

.desc-head {
  padding: 16px 0 32px 0;
  font-size: 16px;
}

.help-support {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.help-support a {
  font-size: 14px;
  font-weight: bold;
  color: #7FC3A7;
}
.help-support a:hover {
  color: #000000;
}

.tab-top {
  font-size: 20px;
  margin-bottom: 45px;
}
.tab-top ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.tab-top ul li {
  margin-right: 55px;
}
.tab-top ul li:last-child {
  margin-right: 0;
}
.tab-top ul li a {
  color: #7FC3A7;
  border-bottom: 1px solid #7FC3A7;
  display: inline-flex;
  line-height: 1;
}
.tab-top ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid #7FC3A7;
}

.frm-profiel {
  padding: 24px 50px 32px 50px;
  background: #F8F8F8;
  border-radius: 15px;
  box-shadow: 0 3px 6px hwb(0deg 0% 100%/16%);
  margin-bottom: 24px;
}

.head-frm {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.list-field .item-field {
  margin-bottom: 16px;
  position: relative;
}
.list-field .item-field:last-child {
  margin-bottom: 0;
}
.list-field .item-field .txt_field {
  width: 100%;
  height: 42px;
  border-radius: 11px;
  border: 0;
  background: #fff;
  padding: 0 20px;
  color: #06456A;
  outline: none;
}
.list-field .item-field .code-phone {
  background: #B2B2B2;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 56px;
}
.list-field .item-field .code-phone svg {
  margin-left: 4px;
}
.list-field .item-field.phone_field .txt_field {
  padding-left: 72px;
}
.list-field .btn-field {
  margin-top: 6px;
}

.btn_main {
  font-size: 16px;
  color: #fff;
  background: #7FC3A7;
  padding: 0 40px;
  min-width: 145px;
  height: 36px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
}
.btn_main:hover {
  background: #000000;
}

.list-social ul {
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 160px;
  flex-wrap: wrap;
}
.list-social ul li {
  margin-right: 12px;
  margin-bottom: 18px;
}

.opening {
  border-radius: 15px;
  padding: 24px;
  height: 100%;
}

.table-opening table {
  width: 100%;
}
.table-opening table thead td {
  text-transform: uppercase;
  color: #B2B2B2;
  width: 33.3333333333%;
}
.table-opening table tr td {
  padding: 6px 0;
  width: 33.3333333333%;
}
.table-opening table tr td:first-child {
  font-weight: bold;
}

.content-open {
  display: flex;
  align-items: center;
}
.content-open .left {
  flex: 0 0 calc(100% - 280px);
}
.content-open .right {
  flex: 0 0 250px;
  margin-left: 30px;
}
.content-open .txt-opening {
  background: #fff;
  color: #707070;
  padding: 20px 24px;
  margin-left: auto;
  margin-bottom: 18px;
}
.content-open .txt-opening h4 {
  olor: #7FC3A7;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.content-open .txt-opening .desc {
  padding: 10px 0;
}

.open-over .row .col-md-7 {
  flex: 0 0 55%;
  max-width: 55%;
}
.open-over .row .col-md-5 {
  flex: 0 0 45%;
  max-width: 45%;
}

.over-butcher {
  padding: 24px 40px;
  font-size: 16px;
  color: #8F8F8F;
  height: 100%;
}
.over-butcher .desc {
  margin-bottom: 24px;
}

.top-media {
  margin-bottom: 40px;
}
.top-media ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.top-media ul li {
  margin-right: 35px;
}
.top-media ul li:last-child {
  margin-right: 0;
}
.top-media .item-logo-media {
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-media .item-logo-media img {
  height: 160px;
}

.list-gallery {
  padding: 20px 30px;
}
.list-gallery .row {
  margin: 0 -7px;
}
.list-gallery .row > div {
  padding: 7px;
}

.avr-gallery {
  position: relative;
  padding-top: 59.0909090909%;
  overflow: hidden;
  border-radius: 12px;
}
.avr-gallery:hover .action-media {
  opacity: 1;
  pointer-events: unset;
}
.avr-gallery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avr-gallery .action-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all !important;
  opacity: 0;
  pointer-events: none;
}
.avr-gallery .action-media img {
  width: auto;
  height: auto;
  position: relative;
}
.avr-gallery .action-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}
.avr-gallery .link-note-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #7FC3A7;
}
.avr-gallery .link-note-gallery a {
  color: #fff;
  text-decoration: underline;
}
.avr-gallery .icon-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.avr-gallery .icon-play img {
  position: relative;
  width: auto;
  height: auto;
}

.scroll-media {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  padding-right: 20px;
}
.scroll-media::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}
.scroll-media::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #B2B2B2;
}

.box-kenmerken {
  padding: 30px 40px;
  font-size: 16px;
}
.box-kenmerken ul {
  list-style: none;
  padding-top: 4px;
}
.box-kenmerken ul.full-check {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  padding: 0;
}
.box-kenmerken ul.full-check li {
  padding: 4px;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  margin-bottom: 0;
}
.box-kenmerken .btn-ken {
  margin-top: 18px;
}

.item-ken {
  margin-bottom: 66px;
}
.item-ken:last-child {
  margin-bottom: 0;
}
.item-ken ul li {
  margin-bottom: 8px;
}
.item-ken ul li:last-child {
  margin-bottom: 0;
}
.item-ken ul li input {
  display: none;
}
.item-ken ul li input:checked + label:after {
  opacity: 1;
}
.item-ken ul li input:checked + label:before {
  background: #fff;
}
.item-ken ul li input:checked + label {
  background: #7FC3A7;
  color: #fff;
}
.item-ken ul li label {
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #8F8F8F;
}
.item-ken ul li label:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #F2F2F2;
  margin-right: 18px;
  position: relative;
  top: -1px;
  border-radius: 2px;
}
.item-ken ul li label:after {
  content: url(../images/check.png);
  position: absolute;
  top: calc(50% - 13px);
  left: 19.5px;
  opacity: 0;
}

.content-menukaart {
  display: flex;
}
.content-menukaart .right-menu {
  flex: 0 0 230px;
  max-width: 230px;
  margin-left: 30px;
}
.content-menukaart .left-menu {
  flex: 0 0 calc(100% - 260px);
  max-width: calc(100% - 260px);
}

.item-menuk {
  padding: 38px;
  padding: 38px;
  height: calc(100% - 30px);
  padding-bottom: 80px;
  position: relative;
}
.item-menuk .desc {
  color: #707070;
  margin-bottom: 20px;
}
.item-menuk .translate {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 32px 38px;
}
.item-menuk .translate ul {
  list-style: none;
  display: flex;
}
.item-menuk .translate ul li {
  margin-right: 10px;
}
.item-menuk .translate ul li:last-child {
  margin-right: 0;
}
.item-menuk .translate ul li a.active {
  font-weight: bold;
}

.table-menuk {
  margin: 0 0 20px 0;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
}
.table-menuk table {
  width: 100%;
}
.table-menuk table tr {
  border-bottom: 1px solid #B2B2B2;
}
.table-menuk table tr:last-child {
  border-bottom: 0;
}
.table-menuk table tr td {
  padding: 8px 20px;
  border-right: 1px solid #B2B2B2;
}
.table-menuk table tr td:last-child {
  border-right: 0;
}
.table-menuk a {
  text-decoration: underline;
}

.item-menuk-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #06456A;
}

.head-table {
  font-weight: bold;
  display: flex;
  color: #7FC3A7;
  font-size: 14px;
  padding: 40px 0 10px 0;
}
.head-table.h-pdf .left {
  flex: 0 0 160px;
}
.head-table.h-pdf > div {
  padding: 0 20px;
}

.box-qrcode {
  padding: 30px;
  color: #707070;
}
.box-qrcode .descqr {
  padding: 26px 0;
}

.item-serv {
  height: 100%;
  color: #707070;
  padding: 30px 44px;
}
.item-serv .top {
  display: flex;
  line-height: initial;
  margin-bottom: 30px;
}
.item-serv .top .logo {
  flex: 0 0 48px;
  margin-right: 30px;
}
.item-serv label {
  margin-bottom: 6px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #7FC3A7;
}
.item-serv .txt_field {
  width: 100%;
  padding: 0 15px;
  height: 42px;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
}
.item-serv .item-frm {
  margin-bottom: 20px;
}
.item-serv .item-frm:last-child {
  margin-bottom: 0;
}
.item-serv .item-fogot {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.item-serv .item-fogot a {
  color: #7FC3A7;
  font-weight: 600;
  text-decoration: underline;
}

.item-onders {
  padding: 30px 45px;
  height: calc(100% - 40px);
  color: #707070;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-onders .desc {
  margin-bottom: 28px;
}
.item-onders h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}
.item-onders .icon {
  color: #7FC3A7;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}
.item-onders .icon span {
  margin-right: 10px;
}
.item-onders .icon img {
  margin-right: 4px;
}
.item-onders .icon img:last-child {
  margin-right: 0;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.dialog-main {
  max-width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-main .modal-content {
  border: 0;
  background: transparent;
  border-radius: 0;
}
.dialog-main .modal-body {
  padding-top: 0;
}

.content-popup {
  max-width: 580px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
}
.content-popup .close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
}
.content-popup .title-popup {
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 42px;
}
.content-popup .btn-popup {
  margin-top: 40px;
}
.content-popup .pop-radio {
  margin-bottom: 60px;
}
.content-popup .pop-radio ul {
  list-style: none;
  display: flex;
}
.content-popup .pop-radio ul li {
  margin-right: 5px;
}
.content-popup .pop-radio ul li:last-child {
  margin-right: 0;
}
.content-popup .pop-radio ul li input {
  display: none;
}

.pop-sterren h6 {
  color: #7FC3A7;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.pop-sterren .check-popup ul {
  list-style: none;
}
.pop-sterren .check-popup ul li {
  margin-bottom: 18px;
}
.pop-sterren .check-popup ul li:last-child {
  margin-bottom: 0;
}
.pop-sterren .check-popup ul li input {
  display: none;
}
.pop-sterren .check-popup ul li input:checked + label:after {
  opacity: 1;
}
.pop-sterren .check-popup ul li input:checked + label:before {
  background: #7FC3A7;
}
.pop-sterren .check-popup ul li label {
  color: #7FC3A7;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pop-sterren .check-popup ul li label:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #F5F5F5;
  border-radius: 2px;
  margin-right: 8px;
}
.pop-sterren .check-popup ul li label:after {
  content: url("../images/check.png");
  position: absolute;
  top: 0px;
  left: 2px;
  opacity: 0;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

/*# sourceMappingURL=style.css.map */
